.header_container {
    display: flex;  
    align-items: center; 
    justify-content: space-between; 
    width: 100%;
    height: var(--header-height);
    background-color: var(--background);
    border-bottom: 1px solid #e5e7eb;
}

.header_left{
    width: var(--sidebar-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoBox{
    width: 180px !important; /* 더 작은 크기로 조정 */
    height: auto !important;
    object-fit: contain; /* 이미지 비율 유지 */
}

.header_right {
    width: calc(100% - var(--sidebar-width));
    height: 100%;
    padding-right: 80px;
    display: flex; /* 오른쪽 영역도 flex로 설정 */
    align-items: center; /* 수직 가운데 정렬 */
    gap: 20px;
    justify-content: end;
}

.profile_button {
    background-color: #ffffff;
    border: 1px solid #e0e0e0; /* 테두리 두께와 색상 추가 */
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.profile_button:hover {
    background-color: #e0e0e0;
}

.bell_icon {
    background-color: #f0f0f0; /* 배경색 설정 */
    border-radius: 50%; /* 원형으로 만들기 */
    padding: 10px; /* 아이콘 주위에 여백 추가 */
    display: flex; /* 가운데 정렬을 위한 flex 사용 */
    align-items: center;
    justify-content: center;
    cursor: pointer; /* 클릭 가능성 강조 */
    transition: background-color 0.3s ease; /* 배경색 변화 애니메이션 */
    color: #0180CD; /* 아이콘 기본 색상 */
}


.bell_icon:hover {
    color: #38BEEF;
}