.header_container {
    width: 100%;
    height: var(--header-height);
    /* border-bottom: 1px solid #e5e7eb; */
    z-index: 10000;
    background-color: var(--header-background);
}

/* 데스크톱헤더 */
.desktopHeader {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%;
    height: 100%;
}

.header_left{
    width: var(--sidebar-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--sidebar-color);
}

.logoBox{
    width: 180px !important; /* 더 작은 크기로 조정 */
    height: auto !important;
    object-fit: contain; /* 이미지 비율 유지 */
}
.headerRight {
    width: calc(100% - var(--sidebar-width));
    height: 100%;
    padding-right: 100px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    /* 좌우 여백 추가하기 */
}
.headerTitle{
    font-size: 20px; 
    font-weight: 600;
    color: var(--woori-deep-blue);
    padding-left: 20px;
}
.headerMenu{
    display: flex;
    align-items: center;
    gap: 20px;
}
.profile_button {
    background-color: #FFFFFF;
    border: 1px solid #e0e0e0; 
    padding: 9px 20px;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.profile_button:hover {
    background-color: #e0e0e0;
}

.bellContainer {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bell_icon {
    background-color: #f0f0f0; /* 배경색 설정 */
    border-radius: 50%; /* 원형으로 만들기 */
    padding: 10px; /* 아이콘 주위에 여백 추가 */
    display: flex; /* 가운데 정렬을 위한 flex 사용 */
    align-items: center;
    justify-content: center;
    cursor: pointer; /* 클릭 가능성 강조 */
    transition: background-color 0.3s ease; /* 배경색 변화 애니메이션 */
    color: #0180CD; /* 아이콘 기본 색상 */
}

.bell_icon:hover {
    color: #38BEEF;
}

.notificationCnt {
    position: absolute;
    top: 5px; /* 아이콘 위의 위치 조정 */
    right: 5px; /* 아이콘 오른쪽의 위치 조정 */
    transform: translate(50%, -50%); /* 위치 조정 */
    background: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    height: 20px;
}

/* 모바일헤더 */
.mobileHeader {
    display: none;
    height: 100%;
    padding: 0 1rem;
}
.mobileLeft{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobileLogo{
    width: 100% !important;
    height: auto !important;
    object-fit: contain;
}
.mobileRight {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menuButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}

.menuIcon {
    width: 24px;
    height: 24px;
    color: #4b5563;
}

/* 반응형 */
@media (max-width: 768px) {
    .desktopHeader {
        display: none;
    }

    .mobileHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}