.baseButton {
   width: auto;
   padding: 10px 20px;
   font-size: 16px;
   font-weight: 500;
   border-radius: 8px;
   border: none;
   background-color: var(--main-woori-blue);
   color: white;
   cursor: pointer;
   transition: all 0.2s ease;
}

.baseButton:hover {
   background-color: #3B5FE3;
}

.primaryButton {
   padding: 8px 16px;
   font-size: 14px;
   font-weight: 500;
   border-radius: 6px;
   border: none;
   cursor: pointer;
   transition: all 0.2s ease;
   background-color: transparent;
   border: 0.0625rem solid #4B71F4;
   color: #4B71F4;
 }
 
 .primaryButton:hover {
   opacity: 0.8;
   background-color: rgba(75, 113, 244, 0.1);
 }
