.selectedDate {
    font-size: 1.5rem;
}

.attendanceHeader {
    display: flex;
    justify-content: space-between;
    margin: 50px 20px 10px;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 20px 0;
  }
  
  .navButton {
    /* background-color: grey; */
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .navButton:hover {
    background-color: grey;
  }
  
  .navButton:active {
    transform: scale(0.95);
  }

  .basebtnBox{
    display: flex;
    align-items: center;
  }
  
  .selectedDate {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  