.container {
  /* max-width: 1000px; */
  padding: 50px 70px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255, 0.6);  
}

.selectedDate {
    font-size: 1.5rem;
}

.attendanceHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 20px 0;
  }
  
  .navButton {
    /* background-color: grey; */
    color: black;
    border: none;
    border-radius: 3px;
    padding: 2px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .navButton:hover {
    background-color: #e0e0e0;
  }
  
  .navButton:active {
    transform: scale(0.95);
  }

  .basebtnBox{
    display: flex;
    align-items: center;
  }
  
  .selectedDate {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  