.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navButton {
    color: black;
    border: none;
    border-radius: 3px;
    padding: 2px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .navButton:hover {
    background-color: #e0e0e0;
  }

.dateText {
    margin: 0 15px;
    font-weight: bold;
    font-size: 20px;
}
