@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'NanumGothic';
  src: url('/fonts/NanumGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, 'NanumGothic', sans-serif;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
