@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height:80px;
  --header-padding: 20px 100px;
  --background: #ffffff;
  --foreground: #171717;
  --main-woori-blue: #0180CD;
  --woori-light-blue: #38BEEF;
  --woori-deep-blue: #0067AC;
  --sidebar-width: 16%;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


