@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height:80px;
  --header-padding: 20px 100px;
  --background: #ffffff;
  --foreground: #171717;
  --main-woori-blue: #0180CD;
  --woori-light-blue: #38BEEF;
  --woori-deep-blue: #0067AC;
  --gray: #787878;
  --red: #E3262F;
  --sidebar-width: 16%;
}

@font-face {
  font-family: 'NanumGothic';
  src: url('/fonts/NanumGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'NanumGothic', sans-serif;
}