.container {
    width: 100%;
}

/* .otherComponent {
    margin: 2rem 0;
} */

.addButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;

}
.noStoreText{
    color: #9ca3af; 
    margin-bottom: 30px;
}

.addButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #9ca3af;  /* gray-400 */
    transition: color 0.2s;
}

.addButton:hover {
    color: #4b5563;  /* gray-600 */
}

.iconContainer {
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
    border: 2px solid currentColor;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.addButtonText {
    font-size: 1.125rem;
}

.accountContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.bankLogo {
    width: 20px;
    height: 20px;
}

/* skeleton.module.css */
.skeleton {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: skeleton-loading 1.5s infinite;
    border-radius: 4px;
    width: 100%;
    height: 20px; /* 높이를 원하는 값으로 조정 */
}
  
@keyframes skeleton-loading {
    from {
        background-position: 200% 0;
    }
    to {
        background-position: -200% 0;
    }
}