.container {
    /* max-width: 1000px; */
    margin: 20px auto;
    padding: 50px 70px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e7eb;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.6);  
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filtering {
    display: flex;
    gap: 10px;
}

.bankIcon {
    width: 20px; /* SVG 아이콘의 너비 */
    height: 20px; /* SVG 아이콘의 높이 */
    display: inline-block; /* 계좌번호와 같은 줄에 오게 설정 */
    margin-right: 3px; /* 계좌번호와 아이콘 사이에 간격 추가 */
    vertical-align: middle; /* 텍스트와 수직으로 정렬 */
}
