.container {
    /* max-width: 1000px; */
    margin: 20px auto;
    padding: 50px 70px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e7eb;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.6);  
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filtering {
    display: flex;
    gap: 10px;
}

.bankIcon {
    width: 20px; /* 아이콘 너비 */
    height: 20px; /* 아이콘 높이 */
    display: inline-block;
    vertical-align: middle; /* 세로 정렬 */
}

/* 테이블 셀 스타일 */
.table td,
.table th {
    text-align: center; /* 수평 가운데 정렬 */
    vertical-align: middle; /* 수직 가운데 정렬 */
    padding: 10px;
}

.modalFeeInfo {
    margin-top: 16px;
    font-size: 14px;
    color: #555;
    text-align: center;
  }
  .modalFeeInfo strong {
    color: #d9534f; /* 강조 색상 */
  }
  
  .modalRadioGroup {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    gap: 20px; /* 버튼 간 간격 */
    margin-top: 16px;
  }
  
  .modalRadioGroup label {
    display: flex;
    align-items: center; /* 라디오 버튼과 텍스트를 수직으로 정렬 */
    font-size: 20px;
    cursor: pointer; /* 클릭 가능한 느낌을 줌 */
  }

