@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.no_sidebar_layout{
    display: grid;
    grid-template-areas: 
        "header"
        "main";
    grid-template-rows: var(--header-height) 1fr;
    grid-template-columns: 1fr;
    min-height: 100vh;
    font-family: 'Pretendard-Regular';
}
.no_side_header{
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: var(--header-height);
}

.no_side_main{
    grid-area: main;
}
  
  