/* modal-container.module.css */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* 오버레이 자체에는 스크롤을 하지 않음 */
    padding: 20px; /* 화면 끝과 여백을 두기 위해 패딩 추가 */
  }
  
  .modalContent {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    position: relative;
    margin: 20px;
    max-height: 80vh; /* 모달 최대 높이를 화면 높이의 80%로 제한 */
    overflow-y: auto; /* 모달 내용이 넘칠 경우 스크롤 가능하게 설정 */
  }

  .modalHeader {
    font-size: 1.5rem;
    font-weight: bold;
    /* text-align: st; */
    margin-bottom: 50px;
  }
  .modalBody{
    margin-bottom: 30px;
  }
  
  .closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #6b7280; /* gray-500 */
    transition: color 0.3s;
  }
  
  .closeButton:hover {
    color: #4b5563; /* gray-700 */
  }
  

  .buttonGroup {
    display: flex;
    width: 100%;
    gap: 15px;
  }
  
  .buttonGroup button {
    flex: 1;
  }
  